<div class="bar bar-header bar-dark">
   <h1 class="title">Login</h1>
</div>

<div class="list" style="top:45px; min-height: 50px;">
   <form name="loginForm">
   <label class="item item-input item-floating-label">
   <span class="input-label">Email</span>
   <input type="text" placeholder=" Email" ng-model="email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required>
   </label>
   <label class="item item-input item-floating-label">
   <span class="input-label">Password</span>
   <input type="password" placeholder=" Password" ng-model="password"  required>
   </label>
   
   <div style="padding:7px;">
      <button class="button button-block button-dark" ng-click="login()" ng-disabled="loginForm.$invalid|| spinner">
      Login
      </button>

      <div class="form-group text-center">
                            <ion-spinner ng-show="spinner"></ion-spinner>
                           <span style="color: red">{{error}}</span>
                        </div>
                       
   </div>
   </form>
</div>
