  <ion-header-bar align-title="left" class="bar bar-header bar-dark">
  
  <h1 class="title">Orders  
  <span sstyle="margin-top:3px;" class="badge badge-secondary " ng-click="gotoorders()">{{newOrder}}</span>
  </h1>
  <div class="buttons">
    <button class="button" ng-click="logout()">Logout</button>
  </div>
</ion-header-bar>
       
  
    <ion-content>
     <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
 <div class="text-center" style="padding-top:50px;" ng-show="spinner">
     <ion-spinner></ion-spinner>
     </div>
     <div ng-show="hideMainContent" style="font-size: 16px!important;">
    
        <div class="row" style="font-weight:600; margin:0px; padding:0px;"  >
          <div class="col col-33">Order</div>
          <div class="col col-33">Phone</div>
          <div class="col col-33">Delivery</div>
        </div>
        <div class="row" ng-class="{'red': orders.order_state == 2, 'green': orders.order_state == 3, 'grey': orders.order_state == 15}" ng-repeat="orders in orderList| orderBy: '-created'" style="top:90px; border-bottom: 1px solid grey; margin:0px;   min-height: 40px; padding:0px;" ng-show="hideMainContent"  ng-click="orderId(orders._id, orders.order_state)">
          <div class="col col-33">#{{orders.ordernr}}</div>
          <div class="col col-33">{{orders.cphone}}</div>
          <div class="col col-33">{{orders.time}}</div>         
        </div>
        </div>
    </ion-content>







